.main-layout {
    margin-top: 64px;
    margin-left: 16.56rem;
    padding: 1.25rem;
    min-height: calc(100vh - 4rem);
  }
  .dashboard-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  .sidebar {
    visibility: visible;
    top: 64px;
    height: 100%;
    outline: 0;
    z-index: 1200;
    position: fixed !important;
    overflow-y: auto;
    .c-icon {
      min-width: 56px;
    }
    .nav-link,
    a {
      color: white !important;
    }
  }
  .sidebar__avatar {
    h5 {
      margin-bottom: 0;
      color: #000;
    }
    h6 {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .customPointerStyle {
    pointer-events: none;
  }
  // header over ride rem units
  .MuiToolbar-regular {
    min-height: 3.5rem !important;
  }
  .MuiToolbar-gutters {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  // RESPONSIVNESS
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 64px !important;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .MuiDrawer-docked .MuiDrawer-paperAnchorLeft {
      transform: none !important;
      visibility: visible !important;
    }
    .dashboard-overlay {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .activeOnDesktop {
      transform: translateX(-265px);
      visibility: hidden;
    }
    .activeOnMobile {
      transform: none;
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      visibility: visible;
    }
    .main-layout {
      margin-left: 0;
    }
  }
  
  @media (min-width: 0px) and (orientation: landscape) {
    .MuiToolbar-regular {
      min-height: 3rem !important;
    }
  }
  