.Default-placeholder {
  color: grey;
}
.Default-danger {
  color: '#f44336';
}
.formBox {
  box-shadow: 2px -1px 0px rgba(126, 126, 126, 0.1),
    0px 4px 4px rgba(63, 63, 68, 0.15);
  background: white;
}
.formRow {
  height: 100vh;
}
.loginSection {
  width: 100%;
  height: 100vh;
  background-color: #ececec !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.App {
  text-align: unset;
}
.logo {
  text-align: center;
  margin-top: -27px;
  position: relative;
  z-index: 1;
}
.logo img {
  width: 7.5rem;
  width: 7.81rem;
  border: none;
  border-width: 25px 0px 0px 0px;
  border-radius: 50% 50% 0px 0%;
  border-color: #ffffff;
}
.loginFeild {
  margin-bottom: 0.625rem;
}
.LoginForm {
  padding: 0.625rem 0.625rem;
}
.signInBtn {
  text-align: right;
}
.signInBtn svg {
  margin-left: 10px;
}
.signInBtn button {
  border-radius: 5px !important;
  padding: 0.6rem !important;
  background-color: #1665d8;
  color: #fff;
  outline: none;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif !important;
}
.signInBtn button:hover,
.signInBtn button:focus {
  background-color: #1665d8;
  color: white;
  outline: none;
  box-shadow: none;
}
.MuiFormControlLabel-label {
  color: #9ea0a5;
  font-size: 0.875rem;
}
.loginWith {
  margin-top: 1.25rem;
}
.loginImage {
  padding: 0.625rem 0.625rem;
}
.loginImage img {
  width: 100%;
  height: 17.563rem;
}
.loginWith button {
  justify-content: center;
  border-radius: 5px !important;
  text-transform: unset;
  width: 100%;
  background-color: #1665d8;
  color: white;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
}
.loginWith button:hover {
  background-color: #1665d8;
  color: white;
}
.loginWith button:last-child {
  margin-top: 0.625rem;
}
.dontacc {
  margin-top: 1.25rem;
  border-top: 1px solid #a9a9a9;
  padding: 0.625rem 0px;
  display: flex;
  justify-content: space-between;
}
.dontacc a {
  color: #4a4a4a !important;
  font-size: 0.8125rem;
}
.RememberMe .MuiTypography-body1 {
  font-size: 0.875rem !important;
  color: #4a4a4a !important;
}
form .form-floating > .form-control {
  padding: 18.5px 14px;
  height: 3em;
  outline: none;
  box-shadow: none;
}
form .form-floating > .form-control:hover,
form .form-floating > .form-control:focus {
  outline: none;
  box-shadow: none;
}
form .form-floating > label {
  padding: 0.7rem 0.75rem;
}
form .form-floating > span {
  font-size: 12px;
}

.sign_in {
  box-shadow: 2px -1px 0px #8483831a, 0px 4px 4px #8483831a;
  background: white;
  width: 70% !important;
}

.signIn__form {
  box-shadow: 2px -1px 0px #8483831a, 0px 4px 4px #8483831a;
  background: white;
  width: 50% !important;
}
body {
  background-color: #fafafa;
}
.loginText p {
  color: grey;
  text-align: center;
}
.apple_btn {
  background-color: black !important;
  height: 3rem;
  color: white !important;
  border: black !important;
  &:hover,
  &:active {
    border: black !important;
  }
}
.gmail_btn {
  background-color: #1665d8 !important;
  height: 3rem;
  color: white !important;
  // border: black !important;
  // &:hover,
  // &:active {
  //   border: black !important;
  // }
}

/* dark mode styling */
.DarkApp .loginSection {
  background-blend-mode: multiply;
}
.DarkApp .formBox {
  background: #303030;
}
.DarkApp .logo img {
  border-color: #303030;
}
.DarkApp .RememberMe .MuiTypography-body1,
.DarkApp .dontacc a,
.DarkApp .MuiTypography-colorPrimary {
  color: #ffffff !important;
}
.DarkApp .loginWith button {
  background: #4056b5 !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.google_login_btn {
  font-family: Arial, Helvetica, sans-serif !important;
}

// Responsiveness
@media (max-width: 356px) {
  .signInBtn button {
    padding: 0.625rem 0.625rem !important;
    font-size: 0.875rem !important;
  }
}
@media (max-width: 1024px) {
  .formRow,
  .loginSection {
    height: auto !important;
  }
  .logo {
    margin-top: 20%;
  }
}

.custom-apple-logo-style {
  font-size: 20px !important;
  padding-right: 10px;
}
